<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:theme="@style/Theme.RasaDesa">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.RasaDesa">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="recipe_id"
                    android:scheme="rasadesa" />
            </intent-filter>
        </activity>
    </application>

</manifest>